@media screen and (max-width: 1250px) {

    .container {
        padding: 0;
    }

    .header {
        position: unset; /*расфиксируем header*/
        justify-content: space-around;
        padding: 0 10px;
    }

    .logo {
        display: block;
        margin: auto;
        text-align: center;
    }

    .menu {
        display: block;
    }

    #nav {
        padding: 0;
    }

    .box {
        margin-top: 0;
    }
    .block1 {
        margin-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .block1 img {
        width: 300px;
    }

    .content img {
        width: 300px;
    }

    .words {
        font-family: "Arial Black", serif;
    }

    .box_contacts {
        margin: 0;
    }

    /*________________________________________________________________________________________study*/

    .content_study {
        padding: 0 10px 0 10px;
    }

    .title_study {
        padding: 0 40px;
        margin: 20px 0;

    }

    .study1 {
        flex-direction: column;
        padding: 0;
    }

    .study1_left {
        margin: 0 auto;
    }

    .study1_right {
        margin: 40px auto 0 auto;
    }

    .study2 {
        flex-direction: column;
        padding: 0;
    }

    .study2_left {
        margin: 0 auto;
    }

    .study2_right {
        margin: 40px auto 0 auto;
    }

    .container_course_top_left h1 {
        font-size: 1.8em;
    }

    .container_course_top_left h2 {
        font-size: 1.2em;
    }

    .content {
        margin-top: 0;
    }


}

@media screen and (max-width: 900px) {/*------------------------------------------------------------------------*/

    .container {
        padding: 0;
    }

    .header {
        position: unset; /*расфиксируем header*/
        justify-content: space-around;
        padding: 0 10px;
    }

    .logo {
        display: block;
        margin: auto;
        text-align: center;
    }

    .menu {
        display: block;
    }

    #nav {
        padding: 0;
    }

    .block1 {
        margin-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .block1 img {
        width: 230px;
    }

    .hidden {
        float: right;
        margin: 0 0 5px 20px;
        display: block;
    }

    .title {
        display: block;
    }
    .title_left {
        padding: 0;
    }

    .article1_left {
        display: none;
    }
    .article1_right {
        margin: auto;
    }

    .article2_right {
        display: none;
    }
    .article2_left {
        margin: 0;
    }

    .article3_left {
        display: none;
    }
    .article3_right {
        margin: 0;
    }

    /*_______________________________________________________________________________________course_*/

    .box_picture {
        display: none;
    }

    .container_course {
        padding: 0;
    }

    .container_course_top {
        flex-direction: column;
        padding: 10px;
    }

    .container_course_top_left {
        padding: 40px 10px 10px 10px;
        /*margin: auto;*/
    }

    .container_course_top_left h1 {
        font-size: 2.2em;
    }

    .container_course_top_left h2 {
        font-size: 1.2em;
    }

    .container_course_bottom_center {
        margin: 40px auto 0 auto;
        font-size: 2.8vw;
    }

    .container_course_bottom_center h1 {
        font-size: 4.6vw;
    }

    .container_course_bottom_center h2 {
        font-size: 3.6vw;
    }

    .container_course_top_right_relative {
        top: 60px;
    }


}

@media screen and (max-width: 745px) {/*----------------------------------------------------------------------------*/

    .container {
        padding: 0;
    }

    .header {
        flex-wrap: wrap;  /* для переноса элементов в столбик*/
        position: unset; /*расфиксируем header*/
        padding: 0 10px;
    }

    .hidden {
        float: unset;
        text-align: center;
        padding: 0;
    }
    .hidden img {
        width: 250px;
    }
    .round {
        border-radius: 60px; /*закругление углов картинок*/
    }


    #nav {
        padding: 5px 0;
    }

    .logo {
        display: block;
        margin: auto;
        text-align: center;
    }

    #nav li {
        display: block;
        margin: 0 auto;
    }

    #nav li a {
        margin: 0 auto;
    }

    .block1 {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
    }

    .article1_1 {
        display: block; /*Чтобы выстроить заголовок и картинку друг под другом*/
    }
    .title_right {
        padding: 0 10px 10px 10px;
    }
    .title_left {
        height: auto;
        margin-top: 20px;
    }

    h1 {
        margin: auto;
    }

    .block1 img {
        width: 190px;
    }

    .links_footer a img {
        width: 30%;
    }

    .cont a img {
        width: 30%;

    }
    .article1_1 {
        justify-content: space-around;
    }

    .article1_1_right {
        margin: auto;
    }

    iframe {
        width: 400px;
        height: 1200px;
    }

    .form {
        margin: 20px auto 0 auto;
        width: 400px;
    }

    .form_order {
        margin: 0 auto;
        width: 400px;
    }


    /*________________________________________________________________________________________footer*/


    .footer {
        flex-direction: column;
    }

    .links_footer a img {
        width: 15%;
    }

    .links_top {
        padding: 10px;
        text-align: left;
    }

    .links {
        padding: 10px;
        text-align: left;
    }

    .contacts {
        padding: 10px;
    }
    h1 {
        margin: auto;
        font-size: 1.5em;
    }
    .box_inner {
        margin-top: 20px;
        font-size: 1.1em;
    }
    .answer {
        font-size: 1.0em;
    }
    .content {
        font-size: 18px;
    }
    .cont p {
        font-size: 1.2em;
    }

    .container_course_bottom_center h1 {
        font-size: 7.6vw;
    }

    .container_course_bottom_center h2 {
        font-size: 6.6vw;
    }

    .container_course_bottom_center {
        padding: 40px 0 0 0;
        font-size: 4.6vw;
    }

    .container_course_top_left h1 {
        font-size: 2.8em;
    }

    .container_course_top_left h2 {
        font-size: 1.4em;
    }

    form {
        margin-top: 20px;
    }


}

@media screen and (max-width: 400px) {/*---------------------------------------------------------------------------*/
    .container {
        padding: 0;
    }

    .header {
        flex-wrap: wrap; /* для переноса элементов в столбик*/
        position: unset; /*расфиксируем header*/
        padding: 0 10px;
    }

    #nav {
        padding: 5px 0;
        font-size: 20px;
    }

    .logo {
        display: none;
        margin: auto;
        text-align: center;
    }

    #nav li {
        display: block;
        margin: 5px auto;
    }

    #nav li a {
        margin: 0 auto;
    }

    .block1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .article1_1 {
        display: block; /*Чтобы выстроить заголовок и картинку друг под другом*/
    }

    .title_right {
        padding: 0 10px 0 10px;
    }
    .title_left {
        margin: 20px auto 0 auto;
    }
    .title_right p {
        margin: 0 auto 10px auto;
    }
    .hidden {
        margin: 0;
    }

    .links_footer a img {
        width: 30%;
    }

    .cont a img {
        width: 30%;

    }

    .article1_1 {
        justify-content: space-around;
    }

    .article1_1_right {
        margin: auto;
    }

    iframe {
        width: 340px;
        height: 1250px;
    }

    .box_contacts {
        margin: auto;
    }

    .form {
        width: 340px;
        height: 950px;
    }

    /*.form_order {*/
    /*    width: 340px;*/
    /*    height: 950px;*/
    /*}*/

    /*________________________________________________________________________________________footer*/
    .footer {
        flex-direction: column;
    }

    .links_footer a img {
        width: 15%;
    }

    .links_top {
        padding: 10px;
        text-align: left;
    }

    .links {
        padding: 10px;
        text-align: left;
    }

    .contacts {
        padding: 10px;
    }
    .round {
        margin: 10px;
    }
    .demo {
        padding: 0;
        margin-top: 10px;
    }

    .container_course_top_left h1 {
        font-size: 1.8em;
    }

    .box_text {
        padding: 0 40px 40px 40px;
    }

    .title_study {
        padding: 0 10px;
        font-size: 1.4em;
    }


    }