html {
    margin-top: 0;
    font-family: "Candara", sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    background: white;

    padding-top: 120px;
}

.header {
    display: flex;
    background: #83c2ff;
    position: fixed;
    top: 0;
    right: 8px;
    left: 8px;
    height: 120px;
    border-radius: 20px;
    font-weight: bold;
}
.logo {
    flex: 1;
    display: flex;
    padding: 1%;
}
.logo a img:hover {
    transform: scale(1.05);

}
.menu {
    flex-grow: 1;
}
#nav {
    margin: 0;
    padding: 40px;
    font-size: 28px;
    text-align: center;
}
#nav li {
    display: inline-block;
}
#nav li a {
    color: white;
    text-decoration: none;
}
#nav li:not(:last-child) {
    margin-right: 70px
}
#nav a:hover,
#nav a:focus {
    color: #0080ff;
}
/*_____________________________________________index*/
.block1 {
    display: flex;
    font-size: 26px;
}
/*поднимаем объект при наведении курсора*/

/*.block1 div:hover{*/
/*    transform: scale(1.03);*/
/*    -webkit-box-shadow: 10px 10px 5px 4px rgba(0,0,0,0.75);*/
/*    -moz-box-shadow: 10px 10px 5px 4px rgba(0,0,0,0.75);*/
/*    box-shadow: 10px 10px 5px 4px rgba(0,0,0,0.75);*/
/*}*/

.article1_1 {
    flex: 1;
    background-image: url("images/article3.jpg");
    height: 445px;
    margin: 20px 20px 20px 0;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.article1_2 {
    flex: 1;
    background-image: url("images/article2.jpg");
    height: 445px;
    margin: 20px 0 20px 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.block2 {
    display: flex;
    font-size: 26px;
}

.article2_1 {
    flex: 1;
    background-image: url("images/article.jpg");
    height: 445px;
    margin: 20px 20px 20px 0;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.article2_2 {
    flex: 1;
    background-image: url("images/article4.jpg");
    height: 445px;
    margin: 20px 0 20px 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
/*_____________________________________________development*/
.content {
    font-size: 26px;
    text-align: left;
}
.title {
    display: flex;
    }
.title_left {
    flex: 1;
    display: inline-block;
    width: 300px;
    height: 7em;
    margin: auto; /*центрируем текст "Смарт-контракты" по вертикали*/
    padding: 30px;
    text-align: center;
}

.title_right {
    flex: 1;
    padding: 30px;
    margin: auto;
}

.article1 {
    display: flex;
    background-color: rgba(100, 149, 237, 0.3);
    border-radius: 20px;
}

.article1_left {
    flex: 1;
    text-align: center;
    padding-top: 8px;
}

.round {
    border-radius: 100px; /*закругление углов картинок*/
    border: 3px solid #d3d7dd;
}

.article1_right {
    flex: 2;
    margin: auto;
    padding: 20px;
}

.article2 {
    display: flex;
    margin: auto;

}

.article2_left {
    flex: 2;
    margin: auto;
    padding: 20px;
}

.article2_right {
    flex: 1;
    padding-top: 8px;
}

.article3 {
    display: flex;
    background-color: rgba(100, 149, 237, 0.3);
    border-radius: 20px;
}

.article3_left {
    flex: 1;
    margin: auto;
    padding-top: 8px;
    text-align: center;
}

.article3_right {
    flex: 2;
    margin: auto;
    padding: 20px;
}


.footer {
    display: flex;
    background: #83c2ff;
    border-radius: 20px;
}

.contacts {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}
.contacts_top {
    flex-grow: 1;
    font-size: 1.2em;
}
.contacts_footer {
    flex-grow: 1;
}

.links {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 20px;
}
.links_top {
    flex: 1;
    text-align: right;
    padding-left: 30px;
    font-size: 1.2em;
}
.links_footer {
    flex: 1;
}
.links_footer a {
    margin: 3px;
}
/*анимация при наведении - увеличением*/
.links_footer a img:hover {
    transform: scale(1.15);
    transition: transform 0.2s ease-in, /*замедление анимации*/
                box-shadow 0.2s linear;
}

