
*, ::after, ::before {
    box-sizing: border-box;
}
html {
    margin-top: 0;
    font-family: "Candara", sans-serif;
}

body {
    margin: 0;
}

p {
    text-indent: 40px; /*отступы в первой строке параграфа*/
}

/*img {*/
/*    display: block;*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/

.container {
    display: flex;
    flex-direction: column;
    background-clip: border-box;
}

.container_order {
    background-image: url("images/background_contacts.jpg");
}

.header {
    display: flex;
    background: #83c2ff;
    background: -webkit-linear-gradient(#dcdeee, #83c2ff, #dcdeee);
    background:    -moz-linear-gradient(#dcdeee, #83c2ff, #dcdeee);
    background:         linear-gradient(#dcdeee, #83c2ff, #dcdeee);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-weight: bold;
}
.logo {
    flex: 1;
    display: flex;
    padding: 2px;
    justify-content: flex-end;
}

.media_menu {
    display: none;
}

.logo a img:hover {
    -o-transform: translate(-20px, 20px);
    -ms-transform: translate(-20px, 20px);
    -moz-transform: translate(-20px, 20px);
    -webkit-transform: translate(-20px, 20px);
    transform: translate(2px, 2px);
    /*transform: scale(1.05);*/
}
.logo_img {
    display: block;
    /*margin: auto;*/
}
.menu {
    flex-grow: 1;
    margin: auto;
}
#nav {
    margin: 0;
    font-size: 28px;
    text-align: center;

}
#nav li {
    display: inline-block;
    margin: 20px;
}
#nav li a {
    color: white;
    text-decoration: none;
}

#nav a:hover,
#nav a:focus {
    color: #0080ff;
}
/*_____________________________________________________________________________________________index*/

.box {
    /*margin-top: 120px;*/
    /*padding-bottom: 120px;*/
    background-image: url("images/background_index.jpg");
    background-size: cover;
}
.block1 {
    display: flex;
    font-size: 26px;
    flex-direction: column;
    justify-content: center;
    margin-top: 130px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40px;
}
.block1 p {
    margin: 0;
}

.article1_1 {
    display: flex;
    border-radius: 20px;
    text-align: center;
}

.article1_1_left {
    flex: 1;
    margin: auto;
    text-align: center;
}

.article1_1_right {
    flex: 1;
}


.article1_2 {
    border-radius: 20px;
    text-align: justify;
}
/*_______________________________________________________________________________________________study*/
.content_study {
    display: flex;
    flex-direction: column;
    background-image: url("images/background_study.jpg");
}

.mark {
    color: #79b321;
    margin-right: 16px;
}

.button {
    color: #0080ff;
    background-color: white;
    border-radius: 20px;
    border: 3px solid #3ca8ff;
    -webkit-box-shadow: 3px 5px 18px 0 rgba(147,184,230,1);
    -moz-box-shadow: 3px 5px 18px 0 rgba(147,184,230,1);
    box-shadow: 3px 5px 18px 0 rgba(147,184,230,1);
}
.button:active, /*удаление черной рамки с кнопки при нажатии*/
.button:focus {
    outline: none;
}

.button h2 {
    margin: 2px 4px 4px 4px;
}

.fontButton {
    font-size: 0.6em;
}

.button:hover {
    transform: scale(1.15);
    transition: transform 0.2s ease-in, /*замедление анимации*/
    box-shadow 0.2s linear;
    background-color: #3ca8ff;
    color: white;
    cursor: pointer;
}

.study1 {
    display: flex;
    justify-content: space-around;
    margin: 0 0 20px 0;
    padding: 0 100px;
    font-size: 22px;
}

.title_study {
    display: flex;
    margin: 120px 0 20px 0;
    padding: 0 200px;
    font-size: 28px;
    text-align: justify;
}

.study1_left {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    -webkit-box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    -moz-box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    border-radius: 10px;
}

.study1_left:hover {
    -webkit-box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
    -moz-box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
    box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
}

.study1_left_bottom {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
    height: 100%;
}

.study1_left_bottom p {
    margin: 6px 0;
    text-align: left;
}


figure.fluidratio1 {
    margin: 0;
    padding-top: 74.8%;  /* slope */
    background-image: url("images/users.png");
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
    border-radius: 10px 10px 0 0;
}

.study1_right {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    -webkit-box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    -moz-box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    border-radius: 10px;
}

.study1_right:hover {
    -webkit-box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
    -moz-box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
    box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
}

.study1_right_bottom {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
    height: 100%;

}

.study1_right_bottom p {
    margin: 6px 0;
    text-align: left;
}

figure.fluidratio2 {
    margin: 0;
    padding-top: 74.8%;  /* slope */
    background-image: url("images/base.png");
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
    border-radius: 10px 10px 0 0;
}


.study2 {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 0 100px;
    font-size: 22px;

}

.study2_left {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    -webkit-box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    -moz-box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    border-radius: 10px;
}

.study2_left:hover {
    -webkit-box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
    -moz-box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
    box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
}

.study2_left_bottom {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
    height: 100%;
}

.study2_left_bottom p {
    margin: 6px 0;
    text-align: left;
}

figure.fluidratio3 {
    margin: 0;
    padding-top: 74.8%;  /* slope */
    background-image: url("images/advance.png");
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
    border-radius: 10px 10px 0 0;
}

.study2_right {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    -webkit-box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    -moz-box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    box-shadow: 4px 5px 18px 3px rgba(147,184,230,1);
    border-radius: 10px;
}

.study2_right:hover {
    -webkit-box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
    -moz-box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
    box-shadow: 5px 5px 23px 2px rgba(73,118,173,1);
}

.study2_right_bottom {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
    height: 100%;
}

.study2_right_bottom p {
    margin: 6px 0;
    text-align: left;
}

figure.fluidratio4 {
    margin: 0;
    padding-top: 74.8%;  /* slope */
    background-image: url("images/individual.png");
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
    border-radius: 10px 10px 0 0;
}















/*_________________________________________________________________________________________development*/
.content {
    font-size: 26px;
    text-align: justify;
    background-image: url("images/background_dev.jpg");
    background-clip: border-box;
}
.content h2 {
    text-align: left;
}
.title {
    display: flex;
    margin: auto;
    padding-top: 80px;
}
.title_left {
    flex: 1;
    width: 300px;
    height: 7em;
    margin: auto; /*центрируем текст "Смарт-контракты" по вертикали*/
    padding: 30px 30px 30px 60px;
    text-align: center;
}

.title_right {
    flex: 1;
    padding: 30px 60px 30px 30px;
    margin: auto;
}

.article1 {
    display: flex;
    margin: auto;
    background-color: rgba(100, 149, 237, 0.3);
}

.article1_left {
    flex: 1;
    margin: auto;
    padding-top: 8px;
    text-align: center;
}

.round {
    border-radius: 100px; /*закругление углов картинок*/
    border: 3px solid #8bb9ff;
}

.article1_right {
    flex: 2;
    margin: auto 40px auto 0;
    padding: 20px;
}

.article2 {
    display: flex;
    margin: auto;

}

.article2_left {
    flex: 2;
    margin: auto 20px auto 80px;
    padding: 20px;
}

.article2_right {
    flex: 1;
    margin: auto;
    padding-top: 8px;
    text-align: center;
}

.article3 {
    display: flex;
    background-color: rgba(100, 149, 237, 0.3);
}

.article3_left {
    flex: 1;
    margin: auto;
    padding-top: 8px;
    text-align: center;
}

.article3_right {
    flex: 2;
    margin: auto 40px auto 0;
    padding: 20px;
}

.hidden {
    float: right;
    margin: 0 0 5px 20px;
    padding-top: 30px;
    display: none;
}

/*________________________________________________________________________________________________faq*/

.box_outer {
    display: flex;
    flex-grow: 1;
    background-image: url("images/background_faq.jpg");
    background-clip: border-box;
}

.box_inner {
    flex: 1;
    margin-right: auto;
    margin-left: auto;
padding: 80px 15px 0 15px;
    box-sizing: border-box;
    width: 1160px;
    text-align: center;
    font-size: 28px;
}
/*------------------------------код отвечающий за раскрывающиеся вопросы*/
.demo {
    max-width: 1024px;
    padding: 20px 20px;
    margin: 1% auto;
    text-align: left;
}
.answer {
    font-size: 24px;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
    display: none;
}

label {
    -webkit-box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.37); /*тень у блоков с вопросами*/
    -moz-box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.37);
    box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.37);
    width: 100%;
    background-color: white;
}
/* вид текста label */
.hide + label {
    margin: 0;
    padding: 0;
    color: black;
    cursor: pointer;
    display: inline-block;
}
.hide + label:hover {
    background-color: rgba(131, 194, 255, 0.56);
}

/* вид текста label при активном переключателе */
.hide:checked + label {
    background-color: rgba(131, 194, 255, 0.56);
    border-bottom: 0;
    -webkit-box-shadow: 14px -1px 20px -7px rgba(0,0,0,0.37);
    -moz-box-shadow: 14px -1px 20px -7px rgba(0,0,0,0.37);
    box-shadow: 14px -1px 20px -7px rgba(0,0,0,0.37);
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
    background: white;
    -moz-box-shadow: inset 3px 3px 10px #0080ff;
    -webkit-box-shadow: inset 3px 3px 10px #0080ff;
    box-shadow: inset 3px 3px 10px #0080ff;
    margin-left: 20px;
    padding: 10px;
    /* чуточку анимации при появлении */
    -webkit-animation:fade ease-in 0.5s;
    -moz-animation:fade ease-in 0.5s;
    animation:fade ease-in 0.5s;
}
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
/* теперь кружочки с плюсиками, которые меняются на минусы*/
.hide + label:before {
    background-color: #1e90ff;
    color: white;
    content: "\002B";
    display: block;
    float: left;
    font-size: 22px;
    font-weight: bold;
    height: 20px;
    line-height: 16px;
    margin: 8px;
    text-align: center;
    width: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.hide:checked + label:before {
    content: "\2212";
}

/*___________________________________________________________________________________contacts*/

.box_contacts {
    display: flex;
    background-image: url("images/background_contacts.jpg");
    background-clip: border-box;
    flex-direction: column;
}
.cont {
    display: flex;
    padding-top: 80px;
}
.telegram {
    flex: 1;
    text-align: center;
}
.viber {
    flex: 1;
    text-align: center;
}
.whatsapp {
    flex: 1;
    text-align: center;
}

.cont p {
    font-size: 26px;
}
/*__________________________анимация логотипов*/
.cont img {
    -webkit-box-shadow: 10px 10px 29px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 29px -2px rgba(0, 0, 0, 0.75);

    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0 solid #000000;
}
.cont img:hover {
    animation: logo-rotate 0.4s alternate infinite ease-in;
}

@keyframes logo-rotate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }

}
/*----------------------------------------*/
.form {
    margin: 40px auto 0 auto;
}

.form_order {
    margin: 0 auto;
}

/*_____________________________________________________________________________________footer на всех страницах*/
.footer {
    display: flex;
    background: #83c2ff;
    /*градиент*/
    /*background: rgba(168,223,250,1);*/
    /*background: -moz-linear-gradient(top, rgba(168,223,250,1) 0%, rgba(157,190,207,1) 46%, rgba(10,119,173,1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(168,223,250,1)), color-stop(46%, rgba(157,190,207,1)), color-stop(100%, rgba(10,119,173,1)));*/
    /*background: -webkit-linear-gradient(top, rgba(168,223,250,1) 0%, rgba(157,190,207,1) 46%, rgba(10,119,173,1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(168,223,250,1) 0%, rgba(157,190,207,1) 46%, rgba(10,119,173,1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(168,223,250,1) 0%, rgba(157,190,207,1) 46%, rgba(10,119,173,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(168,223,250,1) 0%, rgba(157,190,207,1) 46%, rgba(10,119,173,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8dffa', endColorstr='#0a77ad', GradientType=0 );*/
}
.footer h3 {
    margin: 0;
}

.footer p {
    margin-top: 0;
}

.contacts {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 20px 0 40px;
}
.contacts_top {
    flex-grow: 1;
    font-size: 1.2em;
}
.contacts_footer {
    flex-grow: 1;
}

.links {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 40px 20px 20px;
}
.links_top {
    flex: 1;
    padding: 20px 30px 0 0;
    font-size: 1.2em;
    text-align: right;
}
.links_footer {
    flex: 1;
}
.links_footer a {
    margin: 3px;
}
/*анимация при наведении - увеличением*/
.links_footer a img:hover {
    transform: scale(1.15);
    transition: transform 0.2s ease-in, /*замедление анимации*/
                box-shadow 0.2s linear;
}

/*_______________________________________________________________________________________course_*/

.container_course {
    display: flex;
    flex-direction: column;
    background-color: #bfe5f4;
}

.container_course_top {
    display: flex;
    padding: 20px;
    background-color: royalblue;
    background: -webkit-linear-gradient(#d4d5ff, #4169E1, #4366ff);
    background:    -moz-linear-gradient(#d4d5ff, #4169E1, #4366ff);
    background:         linear-gradient(#d4d5ff, #4169E1, #4366ff);

}

.container_course_top_left {
    flex: 3;
    padding: 40px;
    color: white;
    text-align: justify;
}

.container_course_top_left h1 {
    font-size: 3.2em;
}

.container_course_top_left h2 {
    text-indent: 40px; /*отступы в первой строке параграфа*/
}

.container_course_top_left h3 {
    font-size: 1.8em;
    margin: 2px 4px 4px 4px;
}

.container_course_top_right {
    flex: 2;
    display: flex;
    text-align: center;
}

.container_course_bottom_base {
    display: flex;
    justify-content: center;
    background-image: url("images/background_base.jpg");
}

.container_course_bottom_lite {
    display: flex;
    justify-content: center;
    background-image: url("images/background_lite.jpg");
}

.container_course_bottom_advance {
    display: flex;
    justify-content: center;
    background-image: url("images/background_advance.jpg");
}

.container_course_bottom_individual {
    display: flex;
    justify-content: center;
    background-image: url("images/background_individual.jpg");
}

.container_course_bottom_center {
    padding: 40px;
    margin: 10px auto;
    font-family: cursive;
    font-size: 1.6vw;
    color: #7300c6;
    /*overflow: hidden;*/
    /*align-content: center;*/
}
.container_course_bottom_center h1 {
    font-family: "Segoe Print",serif; /* подбор шрифтов - https://wordmark.it/*/
    color: rgb(176, 0, 255);
    font-size: 2.6vw;
    margin: 0;
    padding: 0;
}
.container_course_bottom_center h2 {
    font-family: "Segoe Print",serif; /* подбор шрифтов - https://wordmark.it/*/
    color: #654d96;
    font-size: 2.2vw;
    margin: 0;
    padding: 0;
}

.container_course_bottom_center ul {
    counter-reset: name;      /*Создаем новый счетчик для каждого тега <ul>*/
    list-style-type: none;      /* Убираем исходную нумерацию у списка */
}

.container_course_bottom_center li::before {
    counter-increment: name;           /*Увеличиваем значение счетчика*/
    content: counters(name,". ")". ";   /*Выводим число, используя разделитель '.'*/
}

.container_course_bottom_center_top {
    text-align: center;
}

.container_course_top_right_relative {
    position: relative;
    top: 80px;
    /*left: 10px;*/
    margin: auto;
    max-width: 500px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 23px 2px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 23px 2px rgba(0,0,0,1);
    box-shadow: 5px 5px 23px 2px rgba(0,0,0,1);
    border-radius: 10px;


}

.box_picture {
    max-width: 500px;
    border-radius: 10px;
}

.box_text {
    background-color:white;
    padding: 0 80px 40px 80px;
    border-radius: 0 0 10px 10px;
    font-size: 1.2em;
    color: darkblue;
}

.box_text h1 {
    color: #8a70c9;
}

.header_course {
    display: flex;
    background: #83c2ff;
    background: -webkit-linear-gradient(#edefff, #83c2ff, #edefff);
    background:    -moz-linear-gradient(#edefff, #83c2ff, #edefff);
    background:         linear-gradient(#edefff, #83c2ff, #edefff);

    top: 0;
    right: 0;
    left: 0;
    font-weight: bold;
}

.box_container_course {
    display: flex;
    flex-direction: column;
    background: white;
}
