
*, ::after, ::before {
    box-sizing: border-box;
}
html {
    margin-top: 0;
    font-family: "Candara", sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    background: white;
    padding-top: 120px;
}

.header {
    display: flex;
    background: #83c2ff;
    position: fixed;
    top: 0;
    right: 8px;
    left: 8px;
    border-radius: 20px;
    font-weight: bold;
}
.logo {
    flex: 1;
    display: flex;
    padding: 1%;
}
.logo a img:hover {
    transform: scale(1.05);

}
.menu {
    flex-grow: 1;
    margin: auto;
}
#nav {
    margin: 0;
    font-size: 28px;
    text-align: center;

}
#nav li {
    display: inline-block;
    margin: 20px;
}
#nav li a {
    color: white;
    text-decoration: none;
}

#nav a:hover,
#nav a:focus {
    color: #0080ff;
}
/*_____________________________________________________________________________________________index*/

.box {
    background-image: url("images/background_index.jpg");
    margin-top: 80px;
}
.block1 {
    display: flex;
    font-size: 26px;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}
.block1 p {
    margin: 0;
}

.article1_1 {
    display: flex;
    border-radius: 20px;
    text-align: center;
}

.article1_1_left {
    flex: 1;
    margin: auto;
    text-align: center;
}

.article1_1_right {
    flex: 1;
}


.article1_2 {
    border-radius: 20px;
    text-align: left;
}

/*_________________________________________________________________________________________development*/
.content {
    font-size: 26px;
    text-align: left;
    background-image: url("images/background_dev.jpg");
}
.title {
    display: flex;
    margin: auto;
}
.title_left {
    flex: 1;
    width: 300px;
    height: 7em;
    margin: auto; /*центрируем текст "Смарт-контракты" по вертикали*/
    padding: 30px;
    text-align: center;
}

.title_right {
    flex: 1;
    padding: 30px;
    margin: auto;
}

.article1 {
    display: flex;
    margin: auto;
    background-color: rgba(100, 149, 237, 0.3);
    border-radius: 20px;
}

.article1_left {
    flex: 1;
    margin: auto;
    padding-top: 8px;
    text-align: center;
}

.round {
    border-radius: 100px; /*закругление углов картинок*/
    border: 3px solid #8bb9ff;
}

.article1_right {
    flex: 2;
    margin: auto;
    padding: 20px;
}

.article2 {
    display: flex;
    margin: auto;

}

.article2_left {
    flex: 2;
    margin: auto 20px auto 80px;
    padding: 20px;
}

.article2_right {
    flex: 1;
    margin: auto;
    padding-top: 8px;
    text-align: center;
}

.article3 {
    display: flex;
    background-color: rgba(100, 149, 237, 0.3);
    border-radius: 20px;
}

.article3_left {
    flex: 1;
    margin: auto;
    padding-top: 8px;
    text-align: center;
}

.article3_right {
    flex: 2;
    margin: auto;
    padding: 20px;
}

/*________________________________________________________________________________________________faq*/

.box_outer {
    display: flex;
    flex-grow: 1;
    background-image: url("images/background_faq.jpg");
}

.box_inner {
    flex: 1;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    width: 1160px;
    text-align: center;
    font-size: 28px;
}
/*------------------------------код отвечающий за раскрывающиеся вопросы*/
.demo {
    max-width: 1024px;
    padding: 20px 20px;
    margin: 1% auto;
    text-align: left;
}
.answer {
    font-size: 24px;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
    display: none;
}

label {
    -webkit-box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.37); /*тень у блоков с вопросами*/
    -moz-box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.37);
    box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.37);
    width: 100%;
    background-color: white;
}
/* вид текста label */
.hide + label {
    margin: 0;
    padding: 0;
    color: black;
    cursor: pointer;
    display: inline-block;
}
.hide + label:hover {
    background-color: rgba(131, 194, 255, 0.56);
}

/* вид текста label при активном переключателе */
.hide:checked + label {
    background-color: rgba(131, 194, 255, 0.56);
    border-bottom: 0;
    -webkit-box-shadow: 14px -1px 20px -7px rgba(0,0,0,0.37);
    -moz-box-shadow: 14px -1px 20px -7px rgba(0,0,0,0.37);
    box-shadow: 14px -1px 20px -7px rgba(0,0,0,0.37);
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
    background: white;
    -moz-box-shadow: inset 3px 3px 10px #0080ff;
    -webkit-box-shadow: inset 3px 3px 10px #0080ff;
    box-shadow: inset 3px 3px 10px #0080ff;
    margin-left: 20px;
    padding: 10px;
    /* чуточку анимации при появлении */
    -webkit-animation:fade ease-in 0.5s;
    -moz-animation:fade ease-in 0.5s;
    animation:fade ease-in 0.5s;
}
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
/* теперь кружочки с плюсиками, которые меняются на минусы*/
.hide + label:before {
    background-color: #1e90ff;
    color: white;
    content: "\002B";
    display: block;
    float: left;
    font-size: 22px;
    font-weight: bold;
    height: 20px;
    line-height: 16px;
    margin: 8px;
    text-align: center;
    width: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.hide:checked + label:before {
    content: "\2212";
}

/*___________________________________________________________________________________contacts*/

.box_contacts {
    display: flex;
    background-image: url("images/background_contacts.jpg");
    flex-direction: column;
}
.cont {
    display: flex;
}
.telegram {
    flex: 1;
    text-align: center;
}
.viber {
    flex: 1;
    text-align: center;
}
.whatsapp {
    flex: 1;
    text-align: center;
}

.cont p {
    font-size: 26px;
}
/*__________________________анимация логотипов*/
.cont img {
    -webkit-box-shadow: 10px 10px 29px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 29px -2px rgba(0, 0, 0, 0.75);

    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0 solid #000000;
}
.cont img:hover {
    animation: logo-rotate 0.4s alternate infinite ease-in;
}

@keyframes logo-rotate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }

}
/*----------------------------------------*/
.form {
    margin: 40px auto -100px auto;

}

.bord {
    width: 740px;
    height: 100px;
    background-color: white;
    position: relative;
    top: -100px; /*подымаем блок вверх, чтобы закрыть гугловский текст*/
}
/*_____________________________________________________________________________________footer на всех страницах*/
.footer {
    display: flex;
    background: #83c2ff;
    border-radius: 20px;
    margin-top: 40px;
    /*градиент*/
    /*background: rgba(168,223,250,1);*/
    /*background: -moz-linear-gradient(top, rgba(168,223,250,1) 0%, rgba(157,190,207,1) 46%, rgba(10,119,173,1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(168,223,250,1)), color-stop(46%, rgba(157,190,207,1)), color-stop(100%, rgba(10,119,173,1)));*/
    /*background: -webkit-linear-gradient(top, rgba(168,223,250,1) 0%, rgba(157,190,207,1) 46%, rgba(10,119,173,1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(168,223,250,1) 0%, rgba(157,190,207,1) 46%, rgba(10,119,173,1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(168,223,250,1) 0%, rgba(157,190,207,1) 46%, rgba(10,119,173,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(168,223,250,1) 0%, rgba(157,190,207,1) 46%, rgba(10,119,173,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8dffa', endColorstr='#0a77ad', GradientType=0 );*/
}
.footer h3 {
    margin: 0;
}

.footer p {
    margin-top: 0;
}

.contacts {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 20px 0 40px;
}
.contacts_top {
    flex-grow: 1;
    font-size: 1.2em;
}
.contacts_footer {
    flex-grow: 1;
}

.links {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 40px 20px 20px;
}
.links_top {
    flex: 1;
    padding: 20px 30px 0 0;
    font-size: 1.2em;
    text-align: right;
}
.links_footer {
    flex: 1;
}
.links_footer a {
    margin: 3px;
}
/*анимация при наведении - увеличением*/
.links_footer a img:hover {
    transform: scale(1.15);
    transition: transform 0.2s ease-in, /*замедление анимации*/
                box-shadow 0.2s linear;
}

